<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Class" disabled value="Add new class">
  </md-input-container>
  <table class="example-full-width" cellspacing="0">
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Name class" #nameClass>
    </md-input-container></td>
    <td>
    <button class=".mat-raised-button" md-raised-button (click)="addClass(nameClass.value)">Submit</button>
    </td>
  </table>
</form>
